/* Inter Variable */
 @font-face{
     font-family: 'Inter';
     font-weight: 100 900;
     font-style: normal;
     font-stretch: normal;
     src: url('/Inter-roman.ttf') format('truetype-variations');
}
 @font-face{
     font-family: 'Inter';
     font-weight: 100 900;
     font-style: italic;
     font-stretch: normal;
     src: url('/Inter-italic.ttf') format('truetype-variations');
}
/* Public Sans Variable */
 @font-face{
     font-family: 'Public Sans';
     font-weight: 100 900;
     font-style: normal;
     font-stretch: normal;
     src: url('/PublicSans-VariableFont_wght.ttf') format('truetype-variations');
}
 @font-face{
     font-family: 'Public Sans';
     font-weight: 100 900;
     font-style: italic;
     font-stretch: normal;
     src: url('/PublicSans-Italic-VariableFont_wght.ttf') format('truetype-variations');
}
