:root {
     --black: #333;
     --grey: #999;
     --silver: #ccc;
     --white: #fff;
     --link: #f74853;
}
html{
-webkit-text-size-adjust:100%;
padding-bottom:4em
}
body{
font-family:"Inter",system-ui,sans-serif;
font-size: 100%; 	
line-height: 1.3;		
}
 .container {
     margin: 0 auto 3em;
     padding: 0 0.5em;
     max-width: 31.5em;
}
hr {
    display: block;
    box-sizing: content-box;
    height: 0.1875rem;
    margin: 3rem 0;
    padding: 0;
    overflow: visible;
    border: 0;
    border-top: 0.1875rem solid var(--color-border);
}
.footer{
text-align:right
}
.centered{
text-align:center
}
/* Videos */
 .videoWrapper {
     position: relative;
     padding-bottom: 56.25%;
    /* 16:9 */
     padding-top: 25px;
     height: 0;
}
 .videoWrapper iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}


/* Flexible Foundations via Trent Walton https://codepen.io/TrentWalton/pen/xbXdWP */
 @media screen and (min-width: 300px) {
     body {
         line-height: 1.5;
    }
     .container {
         font-size: 112.5%;
    }
}
 @media screen and (min-width: 600px) {
     body {
         line-height: 1.5;
    }
     .container {
         font-size: 125%;
    }
}
 @media screen and (min-width: 800px) {
     .container {
         font-size: 137.5%;
    }
}
 @media screen and (min-width: 1000px) {
     .container {
         font-size: 150%;
    }
}
 @media screen and (min-width: 1300px) {
     .container {
         font-size: 165%;
    }
}
