:root {
     --color-text-body: #333;
     --color-text-heading: #222;
     --color-text-accent: #595959:
     --color-background: #fff;
     --color-border: #cbcbcb;
     --color-link: #1e69cd;
     --font-body: "Inter", sans-serif;
}
html{
-webkit-text-size-adjust:100%;
padding-bottom:4em
}
body{
font-family: var(--font-body);
font-size: 100%; 	
color: var(--color-text-body);
line-height: 1.3;		
}
.container {
     margin: 0 auto 3em;
     padding: 0 0.5em;
     max-width: 31.5em;
}
span.created {
    display: block;
}
time {
font-feature-settings: 'ss02' 1;
}
hr {
    display: block;
    box-sizing: content-box;
    height: 0.1875rem;
    margin: 3rem 0;
    padding: 0;
    overflow: visible;
    border: 0;
    border-top: 0.1875rem solid var(--color-border);
}
h1, h2, h3 {
    color: var(--color-text-heading);
    letter-spacing: -0.03em;
}
h1 {
     line-height: 1em;
     margin: 2rem 0 2rem 0;
     padding: 0 0 0 0;
}
h2 {
     line-height: 1em;
     margin: 2rem 0 2rem 0;
     padding: 0 0 0 0;
}
h3 {
     line-height: 1em;
     margin: 2rem 0 2rem 0;
     padding: 0 0 0 0;
}
a {
     color: var(--font-body);
     text-decoration: none;
     box-shadow: inset 0 -.1875rem 0 0 var(--color-link);
     transition-property: color;
     transition-duration: .25s;
     trasition-timing-function: cubic-bezier(0,0,.58,1);
}
a:hover {
     color: var(--color-link);
}
a:active {
     color: var(--font-body);
     text-decoration: none;
     box-shadow: inset 0 -.1875rem 0 0 red;
     transition-property: color;
     transition-duration: .25s;
     trasition-timing-function: cubic-bezier(0,0,.58,1);
}
.footer{
text-align:left;
}
.centered{
text-align:center
}
/* Videos */
 .videoWrapper {
     position: relative;
     padding-bottom: 56.25%;
    /* 16:9 */
     padding-top: 25px;
     height: 0;
}
 .videoWrapper iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}


/* Flexible Foundations via Trent Walton https://codepen.io/TrentWalton/pen/xbXdWP */
 @media screen and (min-width: 300px) {
     body {
         line-height: 1.5;
    }
     .container {
         font-size: 112.5%;
    }
}
 @media screen and (min-width: 600px) {
     body {
         line-height: 1.5;
    }
     .container {
         font-size: 125%;
    }
}
 @media screen and (min-width: 800px) {
     .container {
         font-size: 137.5%;
    }
}
 @media screen and (min-width: 1000px) {
     .container {
         font-size: 150%;
    }
}
 @media screen and (min-width: 1300px) {
     .container {
         font-size: 165%;
    }
}
