---
layout: default
title: Bookshelf
description: My digital bookshelf
---

<h2>Bookshelf</h2>
<p class="first">A digital bookshelf representing books I've read since 2018. Those I loved are marked with a heart.</p>
<div class="container">
   {% for entry in site.data.bookshelf.list %}
      <div class="year" style="align-items:center;display:flex;flex-wrap:wrap;justify-content:space-between;margin-bottom:10px;">
         <h4>{{ entry.year }}</h4>
         <span><div class="meta">{{ entry.books | size }} book(s) read</div></span>
      </div>
      <div id="bookshelf">
         <ul class="read {{ entry.year }}">
            {% for book in entry.books %}
            <a href="{{ book.link }}" alt="_blank" rel="nofollow noopener"><img src="{{ book.image }}">{% if book.love %}<p class="heart">♥</p>{% else  %}<p class="heart">&nbsp;</p>{% endif %}{% endfor %}</a>
         </ul>
      </div>
   {% endfor %}
</div>
<div class="spacer"></div>
