<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ '/css/style.css' | absolute_url }}">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap" rel="stylesheet">
   
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="icon" type="image/x-icon" href="/favicon.ico">
   <link rel="manifest" href="/site.webmanifest">
   <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#008035">
   <meta name="msapplication-TileColor" content="#d1ffe8">
   <meta name="theme-color" content="#ffffff">

   {% seo %}
</head>
<body>
   <header>
      <h1 class="header"><a href="{{ site.baseurl | prepend: site.url }}/">{{ site.title }}</a></h1>
      <hr>
   </header>
   <main aria-label="Content" role="main">
      {{ content }}
   </main>
   <footer>
      <hr>
        <ul>
         <li><a href="{{ site.baseurl | prepend: site.url }}/">Blog</a></li>
         <li><a href="{{ '/info/' | prepend: site.baseurl | prepend: site.url }}">Info</a></li>
         <li><a href="{{ '/wiki/' | prepend: site.baseurl | prepend: site.url }}">Wiki</a></li>
         <li><a href="{{ '/read/' | prepend: site.baseurl | prepend: site.url }}">Read</a></li>
         <li><a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">Feed</a></li>
        </ul>
   </footer>
{% include new-window-fix.html %}
</body>
</html>
