<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ '/css/style.css' | absolute_url }}">
   <link rel="stylesheet" href="{{ '/css/fonts.css' | absolute_url }}">
   {% seo %}
</head>
<body>
   <div class="container">  
   <header>
      <p class="header">{{ page.title }}</p>
   </header>
      <p>Enter a tagline here.</p>
      <nav>
      <a href="">Link</a>
       | 
      <a href="">Link</a>
      </nav>
   <main aria-label="Content" role="main">
      {{ content }}
   </main>
      <p class="footer"><a href="/">Home</a></p>
   </div>
{% include new-window-fix.html %}
</body>
</html>
