--- 
layout: default 
---

<article class="post">
  {{ content }}
</article>

<hr>

<p>Subscribe to Salami Neck via <a href="/feed.xml">RSS</a> or newsletter:</p>

<p>
<form
  class="form-post"
  action="https://buttondown.email/api/emails/embed-subscribe/cryptidsalami"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ajpwalser', 'popupwindow')"
  class="embeddable-buttondown-form">
  <input type="text" placeholder="Enter your email address" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
</form>
</p>

<a href="#" class="index-link">↑&nbsp;Top</a>
