--- 
layout: default 
---

{% assign folderfilter = page.path | replace: "/index.html" , "" %}

{% assign path = page.path | split:"/" %}

<p>{{content}}</p>

{% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}

<h3>Pages:</h3>

{% if page.expand %}
{% for item in notes %}
    {% unless item.path contains "index.html" %}
    <div class="pb4 pr2-l">
        <hr>
    <a class="link gray f5" href="{{item.url}}"># {{item.path | replace: folderfilter , ""}}</a></li>
    {{item.content | markdownify}}    
    </div>
    {% endunless %}
{% endfor %}
{% else %}
<ul>
{% for item in notes %}
    {% unless item.path contains "index.html" %}
        <li class="pv1"><a href="{{item.url}}">{{item.path | replace: folderfilter , ""}}</a></li>
    {% endunless %}
{% endfor %}
</ul>
{% endif %}

<div class="spacer"><div>
